body{
   font-family: 'Times New Roman', Times, serif;
   margin: 20px;
   padding: 0;
   background-color: #2e073ff3;
}

h1{
   text-align: center;
   color: rgb(245, 255, 255);
   text-shadow: 0 4px 6px black;
   
}

form{
   max-width: 600px;
   margin: auto;
   padding: 20px;
   background-color: azure;
   border-radius: 6px;
   box-shadow: 0 4px 8px rgb(0, 0, 0, 0.8);
}

fieldset{
   border: 2px solid rgb(0, 0, 0, 0.7);
   border-radius: 8px;
   padding: 20px;
   margin-bottom: 20px;
   background-color: aliceblue;
}

legend{
   font-weight: bold;
   text-align: left;
   color: black;
}

label{
   display: block;
   margin-top: 10px;
   color:black ;
}

input, textarea {
   width: calc(100% - 12px);
   padding: 8px;
   margin-top: 5px;
   border: 1px solid rgb(11, 11, 11);
   border-radius: 3px;
   box-sizing: border-box;
}

button{
   display: block;
   width: 140px;
   padding: 10px;
   margin-top: 20px;
   font-size: 18px;
   background-color: rgb(0, 0, 0);
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 4px;
   cursor: pointer;
}

button:hover {
   background-color: #2e073fbc;
   color: black;
}

#resumeOutput {
   max-width: 600px;
   margin: auto;
   padding: 20px;
   border: 2px solid azure;
   border-radius: 8px;
   background-color: aliceblue;
   box-shadow: 0 4px 8px rgb(0, 0, 0, 0.8)
}

resumeOutput h2{
   color: black;
}

.profilePicture{
   display: block;
   margin: 0 auto;
   border: 2px solid black;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
   border-radius: 500%;
   width: 150px;
   height: 150px;
   object-fit: cover;
}